---
http_interactions:
- request:
    method: post
    uri: https://api.blockcypher.com/v1/btc/test3/payments
    body:
      encoding: UTF-8
      string: '{"token":"<token>","destination":"muTsnH2h6Tg3jGPrVNS3V4HuidbsbWGMdh","input_address":null,"process_fees_address":null,"process_fees_satoshis":null,"process_fees_percent":null,"callback_url":null,"enable_confirmations":null,"mining_fees_satoshis":null}'
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '97'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ca1bfa2d-d9d6-49eb-87c6-c9a1ff2063bf",
          "token": "<token>",
          "destination": "muTsnH2h6Tg3jGPrVNS3V4HuidbsbWGMdh",
          "input_address": "n3FpXjopyzbaq3ytX5Ntq458Lh4eB5eU47"
        }
  recorded_at: Thu, 31 Aug 2017 13:41:07 GMT
- request:
    method: delete
    uri: https://api.blockcypher.com/v1/btc/test3/payments/ca1bfa2d-d9d6-49eb-87c6-c9a1ff2063bf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '1'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 Aug 2017 13:41:07 GMT
- request:
    method: get
    uri: https://api.blockcypher.com/v1/btc/test3/payments/ca1bfa2d-d9d6-49eb-87c6-c9a1ff2063bf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '0'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ca1bfa2d-d9d6-49eb-87c6-c9a1ff2063bf",
          "destination": "",
          "input_address": ""
        }
  recorded_at: Thu, 31 Aug 2017 13:41:08 GMT
recorded_with: VCR 3.0.3
