---
http_interactions:
- request:
    method: get
    uri: https://api.blockcypher.com/v1/btc/test3/payments?limit=2&start=1&token=<token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '194'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "id": "22b00fa2-a651-4164-8913-b240afca76ca",
            "token": "<token>",
            "destination": "muTsnH2h6Tg3jGPrVNS3V4HuidbsbWGMdh",
            "input_address": "mwhfjJRe44HKz3cNSVzNS3NuStUDLn2m61",
            "mining_fees_satoshis": 70000,
            "callback_url": "https://callback.com"
          },
          {
            "id": "262b567a-c013-48d3-9ab9-fcb8085eac43",
            "token": "<token>",
            "destination": "n4juNHKFJrV1zVMs29gNP79w89E2gJxhNR",
            "input_address": "moBTGVS4LUfMYrxjctqHtqF1S1ZeTkiBew"
          }
        ]
  recorded_at: Thu, 31 Aug 2017 13:19:41 GMT
[...]
- request:
    method: delete
    uri: https://api.blockcypher.com/v1/btc/test3/payments/1969375a-d496-44ae-b965-eccf2c83e583
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '86'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 Aug 2017 13:44:01 GMT
[...]
- request:
    method: delete
    uri: https://api.blockcypher.com/v1/btc/test3/payments/49087138-6057-4c30-a7bf-49851709b06b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Ratelimit-Remaining:
      - "-1"
    body:
      encoding: UTF-8
      string: '{"error": "API calls limits have been reached. To extend your limits
        please upgrade your plan on BlockCypher accounts page."}

'
  recorded_at: Thu, 31 Aug 2017 13:44:03 GMT
[...]
- request:
    method: post
    uri: https://api.blockcypher.com/v1/btc/test3/payments
    body:
      encoding: UTF-8
      string: '{"token":"<token>","destination":"n4juNHKFJrV1zVMs29gNP79w89E2gJxhNR","input_address":null,"process_fees_address":null,"process_fees_satoshis":null,"process_fees_percent":null,"callback_url":null,"enable_confirmations":null,"mining_fees_satoshis":null}'
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '56'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "26d6466d-969b-4408-994c-f4adff750cdf",
          "token": "<token>",
          "destination": "n4juNHKFJrV1zVMs29gNP79w89E2gJxhNR",
          "input_address": "mrqfqjrH1KmLSrNGsHjCeTV96sruBkRamV"
        }
  recorded_at: Thu, 31 Aug 2017 13:44:10 GMT
[...]
- request:
    method: get
    uri: https://api.blockcypher.com/v1/btc/test3/payments?limit=2&start=6&token=<token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '0'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 31 Aug 2017 13:44:12 GMT
recorded_with: VCR 3.0.3
