---
http_interactions:
- request:
    method: post
    uri: https://api.blockcypher.com/v1/btc/test3/payments
    body:
      encoding: UTF-8
      string: '{"token":"<token>","destination":"muTsnH2h6Tg3jGPrVNS3V4HuidbsbWGMdh","input_address":null,"process_fees_address":null,"process_fees_satoshis":null,"process_fees_percent":null,"callback_url":null,"enable_confirmations":null,"mining_fees_satoshis":null}'
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "c566e184-ab3f-422a-9531-1035a14d297c",
          "token": "<token>",
          "destination": "muTsnH2h6Tg3jGPrVNS3V4HuidbsbWGMdh",
          "input_address": "mxH11rPGqn3as2iBaDBexPQnnd4cuBTpXz"
        }
  recorded_at: Thu, 31 Aug 2017 13:29:54 GMT
- request:
    method: get
    uri: https://api.blockcypher.com/v1/btc/test3/payments/c566e184-ab3f-422a-9531-1035a14d297c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '98'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "c566e184-ab3f-422a-9531-1035a14d297c",
          "token": "<token>",
          "destination": "muTsnH2h6Tg3jGPrVNS3V4HuidbsbWGMdh",
          "input_address": "mxH11rPGqn3as2iBaDBexPQnnd4cuBTpXz"
        }
  recorded_at: Thu, 31 Aug 2017 13:29:54 GMT
recorded_with: VCR 3.0.3
