---
http_interactions:
- request:
    method: post
    uri: https://api.blockcypher.com/v1/btc/test3/payments
    body:
      encoding: UTF-8
      string: '{"token":"<token>","destination":"n4juNHKFJrV1zVMs29gNP79w89E2gJxhNR","input_address":null,"process_fees_address":null,"process_fees_satoshis":null,"process_fees_percent":null,"callback_url":null,"enable_confirmations":null,"mining_fees_satoshis":null}'
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '96'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "460d7d3a-2caa-4700-a2b9-f49c54c32a82",
          "token": "<token>",
          "destination": "n4juNHKFJrV1zVMs29gNP79w89E2gJxhNR",
          "input_address": "mftbzwzMN3cTwP4q4gfasodzgogLBEcKHP"
        }
  recorded_at: Thu, 31 Aug 2017 12:28:50 GMT
[...]
- request:
    method: get
    uri: https://api.blockcypher.com/v1/btc/test3/payments?limit=200&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '0'
    body:
      encoding: UTF-8
      string: '{"error": "User token is required to list your payments."}'
  recorded_at: Thu, 31 Aug 2017 12:28:51 GMT
recorded_with: VCR 3.0.3
