---
http_interactions:
- request:
    method: post
    uri: https://api.blockcypher.com/v1/btc/test3/payments
    body:
      encoding: UTF-8
      string: '{"token":"<token>","destination":"n4juNHKFJrV1zVMs29gNP79w89E2gJxhNR","input_address":null,"process_fees_address":null,"process_fees_satoshis":null,"process_fees_percent":null,"callback_url":null,"enable_confirmations":null,"mining_fees_satoshis":null}'
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '92'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "5c22e9b3-8470-4295-a475-bb2ea76e6ce9",
          "token": "<token>",
          "destination": "n4juNHKFJrV1zVMs29gNP79w89E2gJxhNR",
          "input_address": "mnDHbV2HDr6mhULG4P67KQJFoKZnvRaLPH"
        }
  recorded_at: Thu, 31 Aug 2017 13:43:36 GMT
[...]
- request:
    method: get
    uri: https://api.blockcypher.com/v1/btc/test3/payments?limit=2&start=1&token=<token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '191'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "id": "1969375a-d496-44ae-b965-eccf2c83e583",
            "token": "<token>",
            "destination": "muTsnH2h6Tg3jGPrVNS3V4HuidbsbWGMdh",
            "input_address": "mtHoVXh1w5HT8oSK4TGyXWVN7GAZdZrqJs"
          },
          {
            "id": "1e64cb5b-247f-4b8b-8a63-eeaa5b0eb4c9",
            "token": "<token>",
            "destination": "n4juNHKFJrV1zVMs29gNP79w89E2gJxhNR",
            "input_address": "mkPxBAStgkbngNz7sDuHaYYFoRz338HksX"
          }
        ]
  recorded_at: Thu, 31 Aug 2017 13:43:37 GMT
- request:
    method: get
    uri: https://api.blockcypher.com/v1/btc/test3/payments?limit=2&start=3&token=<token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '1'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "id": "22b00fa2-a651-4164-8913-b240afca76ca",
            "token": "<token>",
            "destination": "muTsnH2h6Tg3jGPrVNS3V4HuidbsbWGMdh",
            "input_address": "mwhfjJRe44HKz3cNSVzNS3NuStUDLn2m61",
            "mining_fees_satoshis": 70000,
            "callback_url": "https://callback.com"
          },
          {
            "id": "262b567a-c013-48d3-9ab9-fcb8085eac43",
            "token": "<token>",
            "destination": "n4juNHKFJrV1zVMs29gNP79w89E2gJxhNR",
            "input_address": "moBTGVS4LUfMYrxjctqHtqF1S1ZeTkiBew"
          }
        ]
  recorded_at: Thu, 31 Aug 2017 13:43:37 GMT
recorded_with: VCR 3.0.3
