---
http_interactions:
- request:
    method: get
    uri: https://api.blockcypher.com/v1/btc/test3/payments?limit=200&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '96'
    body:
      encoding: UTF-8
      string: '{"error": "User token is required to list your payments."}'
  recorded_at: Thu, 31 Aug 2017 12:35:54 GMT
- request:
    method: post
    uri: https://api.blockcypher.com/v1/btc/test3/payments
    body:
      encoding: UTF-8
      string: '{"token":"<token>","destination":"n4juNHKFJrV1zVMs29gNP79w89E2gJxhNR","input_address":null,"process_fees_address":null,"process_fees_satoshis":null,"process_fees_percent":null,"callback_url":null,"enable_confirmations":null,"mining_fees_satoshis":null}'
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '88'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "6a011936-b337-4382-8400-aa66b91410c0",
          "token": "<token>",
          "destination": "n4juNHKFJrV1zVMs29gNP79w89E2gJxhNR",
          "input_address": "mx8GYKWXfrHktkACPQ4MzKn2KiVEkGDxhJ"
        }
  recorded_at: Thu, 31 Aug 2017 12:42:05 GMT
[...]
- request:
    method: get
    uri: https://api.blockcypher.com/v1/btc/test3/payments?limit=2&start=1&token=<token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '195'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "id": "22b00fa2-a651-4164-8913-b240afca76ca",
            "token": "<token>",
            "destination": "muTsnH2h6Tg3jGPrVNS3V4HuidbsbWGMdh",
            "input_address": "mwhfjJRe44HKz3cNSVzNS3NuStUDLn2m61",
            "mining_fees_satoshis": 70000,
            "callback_url": "https://callback.com"
          },
          {
            "id": "262b567a-c013-48d3-9ab9-fcb8085eac43",
            "token": "<token>",
            "destination": "n4juNHKFJrV1zVMs29gNP79w89E2gJxhNR",
            "input_address": "moBTGVS4LUfMYrxjctqHtqF1S1ZeTkiBew"
          }
        ]
  recorded_at: Thu, 31 Aug 2017 12:42:08 GMT
recorded_with: VCR 3.0.3
